body {
    background-color: aquamarine ;
}


 
 .bio {
    background-color: black;
    color: red;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
  }

  .bio-container {
    background-color: black;
    padding: 20px;
  }
  .bio {
    color: red;
    font-size: 25px;
    font-family: Arial, sans-serif;
  }
  